= semantic_form_for [@atendimento] do |form|

  = form.input :sumario, :label => 'Sumario'
<<<<<<< HEAD
  = form.input :resolucao, :label => 'Resolucao'
  = form.input :dataAtualizacao, as =>string, :label => 'Data Atualizacao'
=======
  = form.input :resolucao, :label => 'Resolução'
  = form.input :dataAtualizacao, :as => String, :label => 'DataAtualizacao'
>>>>>>> 10b1ecad77d0758cd84a2f2a6e64b15c79896d54
  = form.input :horaAtualizacao, :label => 'HoraAtualizacao'
  = form.input :horaFinalizacao, :label => 'HoraFinalizacao'
  = form.input :status, :label => 'Status'
  = form.input :tecnico, :member_label => :nome, :label => 'Tecnico'
  = form.input :registro, :member_label => :descricao, :label => 'Registro'
  = form.submit 'Salvar'
