<h1>Empresas Cadastradas</h1>

<table>
  <tr>
    <!--<th>Codigo da empresa</th>-->
    <th>Razão social</th>
    <th>Nome</th>
    <th>Localidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @empresas.each do |empresa| %>
  <tr>
    <!--<td><%= empresa.codigoempresa %></td>-->
    <td><%= empresa.razaosocial %></td>
    <td><%= empresa.nome %></td>
    <td><%= empresa.localidade %></td>
    <td><%= link_to 'Exibir', empresa %></td>
    <td><%= link_to 'Editar', edit_empresa_path(empresa) %></td>
    <td><%= link_to 'Excluir', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Empresa', new_empresa_path %>


