<p id="notice"><%= notice %></p>

<p>
  <b>Codigoempresa:</b>
  <%= @empresa.codigoempresa %>
</p>

<p>
  <b>Razaosocial:</b>
  <%= @empresa.razaosocial %>
</p>

<p>
  <b>Nome:</b>
  <%= @empresa.nome %>
</p>

<p>
  <b>Localidade:</b>
  <%= @empresa.localidade %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
