<h1>Lista de tipos de serviço</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tiposervicos.each do |tiposervico| %>
  <tr>
    <td><%= tiposervico.titulo %></td>
    <td><%= tiposervico.descricao %></td>
    <td><%= link_to 'Exibir', tiposervico %></td>
    <td><%= link_to 'Editar', edit_tiposervico_path(tiposervico) %></td>
    <td><%= link_to 'Excluir', tiposervico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar tipo de serviço', new_tiposervico_path %>
