<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Name : Regeneracy
Description: A two-column, fixed-width design with dark color scheme.
Version : 1.0
Released : 20100529
-->
<html xmlns="http://ww w.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Request TI</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id='wrapper'>
<div id='header-wrapper'>
<div id='header'>
<div id='logo'>
<h1><a href='/'>Request TI</a></h1>
                                
</div>
<div id = 'menu'>
<ul>

 <!--<li><%= link_to 'Empresa',empresas_path %></li>-->
 <li><%= link_to I18n.t('empresa'), empresas_path %></li>
 <li><%= link_to I18n.t('cliente'), clientes_path %></li>
 <li><%= link_to I18n.t('registro'), registros_path %></li>
 <li><%= link_to I18n.t('tiposDeServico'), tiposervicos_path %></li>
 <li><%= link_to I18n.t('tecnico'), tecnicos_path %></li>
 <li><%= link_to I18n.t('atendimento'), atendimentos_path %></li>

</ul>
</div>
                </div>
           </div>
<div id='page'>

<div id='page-bgtop'>
<div id='page-bgbtm'>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
<div style='clear: both;'> </div>
</div>
</div>

</div>
   
</div>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
    </div>
  </div>
</div>

</body>
</html>
